<p id="notice"><%= notice %></p>
<%= link_to 'New Blog erstellen ', new_blog_path %>

<h1>List alle Blogs die  verfuegabr sind</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Bild</th>
      <th colspan="3">Aktion</th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.description %></td>
        <td>			<%= image_tag(blog.image, :class => "img-fluid rounded", style: 'height:100px;width:100px;') %></td>
        <td><%= link_to 'Anzeigen', blog %></td>
        <td><%= link_to 'Bearbeiten', edit_blog_path(blog) %></td>
        <td><%= link_to 'Loschen', blog, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

